{{ define "main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css" />
    <style>
        .search-result {
            margin-bottom: 20px;
        }

        .search-result-title {
            font-size: 18px;
            font-weight: bold;
        }

        .search-result-content {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div id="app" class="wrapper w-full">
        <ais-instant-search :search-client="searchClient" index-name="test">
            <ais-search-box placeholder="Search..."></ais-search-box>
            <ais-hits>
                <template v-slot:item="{ item }">
                    <div class="search-result">
                        <a :href="item.url" class="search-result-title">
                            <ais-highlight :hit="item" attribute="title" />
                        </a>
                        <div class="search-result-content">
                            <ais-highlight :hit="item" attribute="content" />
                        </div>
                    </div>
                </template>
            </ais-hits>
        </ais-instant-search>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-instantsearch@4.5.0/vue3/umd/index.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"></script>
<script type="module">
    const InstantSearch = {
        install (localVue) {
            Object.keys(VueInstantSearch).forEach(widgetName => {
                localVue.component(VueInstantSearch[widgetName].name, VueInstantSearch[widgetName]);
            });
        },
    };

    const app = Vue
        .createApp({
            data () {
                return {
                    searchClient: instantMeiliSearch(
                        'https://dcw-meilisearch.dcw.fairbankcenter.org/',
                        'c4db95074515eea1f9ef003495bc4a54e2d71bc5a1a0bdd7cd07f713fc49728e',
                    ).searchClient,
                }
            }
        })
        .use(InstantSearch)
        .mount('#app')
</script>

</html>
{{ end }}