{{ define "partials/creator-template.html" }}
{{/* Get local data using SITE.Data */}}
{{ $data := .Site.Data.all.data }}

{{/* Add creators for the target language */}}
{{ range $data.creators }}
{{ if eq .status "published" }}
{{ $creatorSlug := .slug }}
{{ $creatorID := .id }}
{{ $creatorURL := .url | default "" }}

{{/* Find resources created by this creator */}}
{{ $creatorResources := slice }}
{{ range $data.resources }}
{{ range .creator }}
{{ if eq .creators_id.id $creatorID }}
{{ range $.data.translations }}
{{ if eq .languages_code.code $.targetLanguage }}
{{ $resourceInfo := dict
"title" .title_translated
"slug" (printf "%s/resources/%s" $.slug)
}}
{{ $creatorResources = $creatorResources | append $resourceInfo }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ range .translations }}
{{ if eq .languages_code.code $.targetLanguage }}
{{/* Add creator for the target language */}}
{{ $content := dict "mediaType" "text/markdown" "value" .description }}
{{ $params := dict
"title" .title_translated
"creator_id" $creatorID
"url" $creatorURL
"resources" $creatorResources
}}

{{ $page := dict
"content" $content
"kind" "page"
"params" $params
"path" (printf "%s/creators/%s" $creatorSlug)
"title" .title_translated
}}
{{ $.context.AddPage $page }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}