{{ if .Site.IsMultiLingual }}
<div class="relative">
    <button id="languageDropdownButton" data-dropdown-toggle="languageDropdown"
        class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-800 dark:hover:bg-red-700 dark:focus:ring-red-600"
        type="button">
        {{ range .Site.Languages }}
        {{ if eq . $.Site.Language }}
        {{ .LanguageName }}
        {{ end }}
        {{ end }}
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
        </svg>
    </button>
    <!-- Dropdown menu -->
    <div id="languageDropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="languageDropdownButton">
            {{ range $.Translations }}
            <li>
                <a href="{{ .Permalink }}"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    title="{{ .Language.LanguageName }}">
                    {{ .Language.LanguageName }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}